Getting started with STM32*
Layout recommendations*
Soldering recommendations and package information for lead-free ECOPACK2 MCUs and MPUs - Application note - STMICROELECTRONICS*
System-Level ESD Protection Guide (Rev. E) - Texas Instruments, Incorporated [SSZB130,E*
ST60A3H1*
tdn5wism.pdf
The STP*
MP/